{% load static %}
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS {% static 'home/css/bootstrap.min.css' %}-->
    <link rel="stylesheet" href="{% static 'home/css/style.css' %}">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <title>Крестики-нолики</title>
</head>
    <body class="bg-light">
        <div class="container mt-5 pt-5 ">
            <h3 class="text-center text-dark">Робот, рисующий «крестики-нолики»</h3>
            <div class="col-md-6 mx-auto mt-4">
                {% if messages %}
                {% for message in messages %}
                <div class="alert alert-light">
                    {{ message }}
                </div>
                {% endfor %}
                {% endif %}
                <form method="post">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-12 form-group">
                            <label class="text-dark">Введите ваш никнейм</label>
                            <input type="text" name="username" class="form-control">
                        </div>
                        <div class="col-md-12 form-group">
                            <label class="text-dark">Выберите опцию</label>
                            <select class="form-control" name="option">
                                <option>Выберите опцию</option>
                                <option value="1">Есть код комнаты</option>
                                <option value="2">Создать комнату</option>
                            </select>
                        </div>
                        <div class="col-md-12 form-group">
                            <label class="text-dark">Введите код</label>
                            <input type="text" name="room_code" class="form-control">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-dark">Начать игру</button>
                </form>
            </div>
        </div>
    </body>
</html>