@import url("https://fonts.googleapis.com/css?family=Catamaran:200");
@import url("https://fonts.googleapis.com/css?family=Quicksand");

/* General Styles */

* {
    /*   box-sizing: border-box; */
}

body {
    background-color: #eee;
    color: #333;
    font-family: "Catamaran", sans-serif;
}

.full-page {
    box-sizing: border-box;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.wrap {
    flex-wrap: wrap;
}

/* Game Styles */

.game {
    margin-left:25px;
    flex: 1 1 auto;
    max-width: 400px;
    border: 1px solid #ccc;
}

.game>div {
    flex: 1 1 auto;
    font-size: 1.1em;
}

/* Options */

#game_options {
    flex: 1 1 auto;
}

#game_options>div {
    flex: 1 1 auto;
    min-width: 150px;
}

#player1type,
#player2type {
    background-color: #bbb;
    justify-content: space-evenly;
    align-items: center;
}

#player1type>div,
#player2type>div {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    cursor: pointer;
}

.activetype {
    background-color: #dbdbdb;
}

#player1type>div:hover,
#player2type>div:hover {
    background-color: #fff;
}

.playername {
    flex: 1 1 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ddd;
    padding: 5px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.playername:focus {
    outline: none;
    background-color: #ccc;
}

.options {
    flex: 1 1 100%;
}

.options>div {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ailevel {
    font-size: 0.9em;
    flex: 1 1 100%;
    display: flex;
    align-items: center;
}

.ailevel>div {
    padding: 4px;
    color: #eee;
    flex: 1 1 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.easyai {
    background-color: #773;
}

.averageai {
    background-color: #753;
}

.expertai {
    background-color: #b43;
}

.startReset {
    width: 100%;
    cursor: pointer;
    color: #eee;
}

.startReset>div {
    padding: 7px;
    font-size: 1.3em;
    display: flex;
    align-items: center;
    justify-content: center;
}

#start {
    flex: 3 1 auto;
    min-width: 234px;
    background-color: #575;
}

#start:hover {
    background-color: #595;
}

#start:active {
    background-color: #484;
}

.startactive {
    background-color: #494;
}

#reset {
    flex: 1 1 auto;
    background-color: #655;
}

#reset:hover {
    background-color: #855;
}

#reset:active {
    background-color: #844;
}

.scoreboard {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0;
}

.scoreboard>div {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px;
}

.activeplayer {
    background-color: #248;
}

.boardcontainer {
    width: 100%;
    padding-top: 100%;
    /* 1:1 Aspect Ratio */
    position: relative;
    /* If you want text inside of it */
}

.board {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-column-gap: 2px;
    grid-row-gap: 2px;
}


.space {
    background-color: #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Quicksand";
    font-weight: 300;
    font-size: 3em;
}

.space:hover {
    background-color: #bbb;
}

.space:active {
    background-color: #aaa;
}

.highlightVictory {
    background-color: #388;
}

.tieboard {
    background-color: #665;
}